.ds-1col-hero {
  .ds-hero {
    background-color: $primary-color;
    background-size: cover;
    height: 350px;
    overflow: hidden;
    .ds-full {
      .ds-row {
        @include grid-row();
        .ds-column {
          @include grid-column(12);
          .field--name-field-hero-heading,
          .field--name-title {
            @extend .h1;
            color: #FFF;
          }
        }
      }
    }
  }
  .ds-middle {
    .ds-full {
      .ds-row {
        @include grid-row();
        .ds-column {
          @include grid-column(9);
        }
      }
    }
  }
}