body.front {
  .node--type-page {
    .field--name-node-title {
      //display: none;
    }
  }
  .block-id-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    h1, h2, h3 {
      margin-top: 0;
      font-size: 28px;
      line-height: 38px;
      font-family: $custom-font;
      font-weight: 400;
      color: #333;
      margin-bottom: 20px;
    }
    p {
     
    }
  }
}

