@import 'reset';
@import 'settings';

@import 'base/clearfix';
@import 'breakpoints';
@import 'grid';

@import 'base/form';
@import 'base/form-item';
@import 'base/form-label';
@import 'base/form-select';
@import 'base/form-textarea';
@import 'base/form-composite';
@import 'base/form-submit';
@import 'base/form-tabledrag';
@import 'base/form-fieldset';
@import 'base/form-file';
@import 'base/form-filter-wrapper';
@import 'base/form-required';
@import 'base/field';
@import 'base/field-node-title';
@import 'base/button';
@import 'base/field-body';
@import 'base/table';
@import 'base/link';
@import 'base/description';

@import 'page/page';
@import 'page/page-front';

@import 'block/block';
@import 'block/block-title';
@import 'block/block-tabs';
@import 'block/block-tools';
@import 'block/block-contact-details-top';
@import 'block/block-contact-details-bottom';
@import 'block/block-content-front';
@import 'block/block-hero-homepage';
@import 'block/block-hero-service';
@import 'block/block-hero-basic';
//@import 'block/block-services-homepage';
@import 'block/block-primary-menu';
@import 'block/block-mainnavigation';
@import 'block/block-servicesmenu';
@import 'block/block-footer-menu';
@import 'block/block-footer';
@import 'block/block-useraccountmenu';
@import 'block/block-horizontalmenu';
@import 'block/block-logo';
@import 'block/block-responsive-menu-mobile-icon';
@import 'block/block-socialmedialinks';
@import 'block/block-poweredbydrupal';
@import 'block/block-sitebranding';
@import 'block/block-hamburger';
@import 'block/block-content-type-section';
@import 'block/block-content-type-button';

@import 'view/view';
@import 'view/view-services';
@import 'view/view-certifications';
@import 'view/view-testimonials';
@import 'view/view-work';
@import 'view/view-team';
@import 'view/view-contact-details';

@import 'node/node';
@import 'node/node-certification';
@import 'node/node-service';
@import 'node/node-work';
@import 'node/node-testimonial';
@import 'node/node-team';
@import 'node/node-contact-details';

@import 'ds/ds-1col-fullwidth-hero-footer';
@import 'ds/ds-1col-hero';
@import 'ds/ds-2col-75-25';
@import 'ds/ds-2col-stacked-75-25';
@import 'ds/ds-2row';
@import 'ds/ds-2col-empty';

body {
  @include display-breakpoint;
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
