.field {

}
.field__label {
  margin-bottom: 0;
  color: #656565;
  font-weight: bold;
}
.field--label-inline {
  .field__label {
    display: inline-block;
  }
  .field__item {
    display: inline-block;
  }
  .field__items {
    display: inline-block;
    float: none;
  }
}
