.block-id-logo{
  @include grid-column(4);
  .logo {
    float: left;
    height: 39px;
    width: 305px;
    background-image: url('../images/logo.png');
    background-size: 305px 39px;
    background-repeat: no-repeat;
    @media #{$small-only} {
      float: left;
      height: 24px;
      width: 188px;
      background-image: url('../images/logo-mobile.png');
      background-size: 188px 24px;
      background-repeat: no-repeat;
    }
  }
  .field {
    margin: 0;
  }
}
