.view.view-certifications {
  .view-header {
  }
  .view-content {
    .views-row {
    }
  }
}

.view.view-certifications.view-display-id-grid  {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 32%;
      margin-bottom: 15px;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      @media #{$medium-only} {
        flex-basis: 49%;
      }
    }
  }
}

.view.view-certifications.view-display-id-homepage  {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 24%;
      margin-bottom: 15px;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      @media #{$medium-only} {
        flex-basis: 49%;
      }
    }
  }
}