.view.view-work {
  margin-bottom: -20px;
  .view-header {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 32px;
      font-weight: 300;
      font-family: $base-font;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .view-content {
    @include grid-row(nest);
    .views-row {
      @include grid-column(3);
      margin-bottom: 20px;
      height: 400px;
      @media #{$large-up} {
        @include grid-column(3);
      }
      @media #{$medium-only} {
        @include grid-column(6);
        height: 340px;
      }
      @media #{$small-only} {
        @include grid-column(12);
        height: auto;
      }
    }
  }
}

.view.view-work.view-display-id-block-1 {
  .views-content {
    .views-row {
      display: none;
      &:nth-child(1) {

      }
    }
  }
}