.view.view-testimonials {
  .view-header {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 32px;
      font-weight: 300;
      font-family: $base-font;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .view-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 48%;
      margin-bottom: 10px;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      @media #{$medium-only} {
        flex-basis: 48%;
      }
      &:last-of-type {
        @media #{$small-only} {
          margin-bottom: 0;
        }
      }
    }
  }
}
