.view.view-services {
  .view-header {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 300;
      font-family: $base-font;
      line-height: 38px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    h2 + p {
      margin-bottom: 10px;
    }
  }

  .more-link {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      @include btn;
      @include btn-wide;
    }
  }

}

// View Services Block List
.view.view-services.view-display-id-block-1 {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33%;
      margin-bottom: 10px;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      @media #{$medium-only} {
        flex-basis: 50%;
      }
      &:last-of-type {
        @media #{$small-only} {

        }
      }
    }
  }
}

// View Services Block
.view.view-services.view-display-id-block-2 {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33%;
      margin-bottom: 10px;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      @media #{$medium-only} {
        flex-basis: 50%;
      }
      &:last-of-type {
        @media #{$small-only} {

        }
      }
    }
  }
}

// View Services Block List
.view.view-services.view-display-id-block-3 {
  padding-top: 20px;
  margin-top: 10px;
  border-top: 3px solid $primary-color;
  .view-content {
    display: block;
    .views-row {
      margin: 0 0 6px 0;

    }
  }
}