.view.view-services {
  .view-header {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 34px;
      font-weight: 300;
      font-family: $base-font;
      line-height: 34px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .view-content {
    display: flex;
    flex-flow: row wrap;
    @media #{$small-only} {
      display: block;
    }
    .views-row {
      //flex: 0 0 33%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 33%;
      @media #{$small-only} {
        flex-basis: 100%;
      }
      &:last-of-type {
        @media #{$small-only} {

        }
      }
    }
  }
  .more-link {
    text-align: center;
    a {
      @include btn-bordered;
    }
  }

}

// View Services Block List
.view.view-services.view-display-id-block-3 {
  padding-top: 20px;
  margin-top: 10px;
  border-top: 3px solid $primary-color;
  .view-content {
    display: block;
    .views-row {
      margin: 0 0 6px 0;

    }
  }
}