.view.view-testimonials {
  .view-header {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 32px;
      font-weight: 300;
      font-family: $base-font;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
  .view-content {
    @include grid-row(nest);
    .views-row {
      @include grid-column(6);
      margin-bottom: 10px;
      @media #{$medium-only} {
        @include grid-column(6);
      }
      @media #{$small-only} {
        @include grid-column(12);
        height: auto;
      }
    }
  }
}
