.node--type-certification.node--view-mode-teaser {
  background-color:white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  .field--name-field-certification-image {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
  .field--name-node-title {
    padding: 20px;
    border-top: 1px solid #CCC;
  }
  .field--name-body {
    padding: 20px;
    border-top: 1px solid #CCC;
  }
}
