@font-face {
  font-family: "custom-font-name";
  src: url('../fonts/custom-font-name.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "custom-font-name";
  src: url('../fonts/custom-font-name.woff') format('woff');
  font-style: bold;
  font-weight: 600;
}
