.tooltipster-icon {
  &:hover {
    cursor: pointer;
    color: #111111;
  }
  @media #{$small-only} {
    font-size: 20px;
  }
}

.tooltipster-text {
  text-decoration: none;
  color: #327084;
  border-bottom: 1px dotted #CCCCCC;
  line-height: inherit;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #275666;
    border-bottom: 1px dotted #333333;
  }
}

.tooltipster-base {
  position: absolute;
  display: flex;
  pointer-events: none;
}

.tooltipster-box {
  flex: 1 1 auto;
}

.tooltipster-content {
  overflow: auto;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.tooltipster-ruler {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
}

.tooltipster-fade {
  transition-property: opacity;
  opacity: 0;
}

.tooltipster-fade.tooltipster-show {
  opacity: 1;
}

.tooltipster-grow {
  transition-property: transform;
  transform: scale(0, 0);

  backface-visibility: hidden;
}

.tooltipster-grow.tooltipster-show {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transform: scale(1, 1);
}

.tooltipster-swing {
  transition-property: transform;
  transform: rotateZ(4deg);
  opacity: 0;
}

.tooltipster-swing.tooltipster-show {
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transform: rotateZ(0deg);
  opacity: 1;
}

.tooltipster-fall {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-property: top;
}

.tooltipster-fall.tooltipster-initial {
  top: 0 !important;
}

.tooltipster-fall.tooltipster-dying {
  top: 0 !important;
  transition-property: all;
  opacity: 0;
}

.tooltipster-slide {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-property: left;
}

.tooltipster-slide.tooltipster-initial {
  left: -40px !important;
}

.tooltipster-slide.tooltipster-dying {
  left: 0 !important;
  transition-property: all;
  opacity: 0;
}

@keyframes tooltipster-fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltipster-update-fade {
  animation: tooltipster-fading 400ms;
}

@keyframes tooltipster-rotating {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}

.tooltipster-update-rotate {
  animation: tooltipster-rotating 600ms;
}

@keyframes tooltipster-scaling {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.tooltipster-update-scale {
  animation: tooltipster-scaling 600ms;
}

.tooltipster-sidetip .tooltipster-box {
  background: #111111;
  //border: 2px solid black;
  //border-radius: 4px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
  margin-top: 8px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
  margin-right: 8px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-left: 8px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 8px;
}

.tooltipster-sidetip .tooltipster-content {
  //padding: 14px 12px;
  padding: 15px;
  text-align: left;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tooltipster-sidetip .tooltipster-arrow {
  position: absolute;
  overflow: hidden;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  top: 0;
  width: 20px;
  height: 10px;
  margin-left: -10px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  top: 0;
  right: 0;
  width: 10px;
  height: 20px;
  margin-top: -10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  top: 0;
  left: 0;
  width: 10px;
  height: 20px;
  margin-top: -10px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 0;
  width: 20px;
  height: 10px;
  margin-left: -10px;
}

.tooltipster-sidetip .tooltipster-arrow-background,
.tooltipster-sidetip .tooltipster-arrow-border {
  position: absolute;
  width: 0;
  height: 0;
}

.tooltipster-sidetip .tooltipster-arrow-background {
  border: 10px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  top: 3px;
  left: 0;
  border-bottom-color: #111111;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  top: 0;
  left: -3px;
  border-left-color: #111111;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  top: 0;
  left: 3px;
  border-right-color: #111111;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  top: -3px;
  left: 0;
  border-top-color: #111111;
}

.tooltipster-sidetip .tooltipster-arrow-border {
  top: 0;
  left: 0;
  border: 10px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #000000;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #000000;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #000000;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #000000;
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
  left: -10px;
}

.tooltipster-region {
  display: none;
}
