.block-id-servicesmenu {
  margin-top: 40px;
  margin-bottom: 40px;
  ul.menu {
    @include clearfix;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-bottom: 0;
    font-family: $base-font;
    li {
      display: block;
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-family: $base-font;
      list-style-type: none;
      background-image: url("../images/bullet-grey.png");
      background-position: left 6px;
      background-size: 8px 8px;
      background-repeat: no-repeat;
      padding-left: 16px;
      &.menu-item--active-trail {
        > a {
          font-weight: bold;
        }
      }
      a {
        display: block;
        text-decoration: none;
        color: $primary-color;
        background: none;
        &:hover {
          text-decoration: underline;
          color: $primary-color;
        }
        &.active {
          text-decoration: underline;
          color: $primary-color;
        }
        &.menu-item--expanded {
        }
      }
      ul.menu {
        margin-left: 10px;
      }
    }
  }
}
