.block-id-hero-basic {
  .field--name-field-hero {
    display: none;
  }
  .field--name-field-hero-heading {
    float: left;
    width: 400px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: 400;
    @media #{$small-only} {
      width: 80%;
      padding-top: 40px;
      float: none;
    }
    h1,
    h2,
    p {
      margin-top: 0;
      margin-bottom: 20px;
      color: #FFFFFF;
      font-family: $custom-font;
      font-size: 40px;
      font-weight: 200;
      line-height: 48px;
      strong {
        color: $primary-color;
        font-weight: 200;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .field--name-field-hero-subheading {
    clear: left;
    float: right;
    width: 400px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    color: #FFFFFF;
    //border-bottom: 5px solid $primary-color;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 400;
    @media #{$small-only} {
      margin-top: 30px;
      margin-bottom: 20px;
      float: none;
      width: auto;
    }
    @media #{$medium-only} {
      width: 300px;
    }
    h1,
    h2,
    p {
      margin-top: 0;
      margin-bottom: 20px;
      color: #FFFFFF;
      font-family: $custom-font;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      strong {
        color: $primary-color;
        font-weight: 200;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
