.block-id-services-homepage {
  .node--type-page {
    .field--name-node-title {
      display: block;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
      @media #{$small-only} {
        width: auto;
      }
      h1 {
        margin: 0;
        color: #999999;
        font-size: 26px;
        font-weight: 200;
        line-height: 32px;
      }
    }
  }
}
