.block-id-content-front {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  @media #{$small-only} {
    width: auto;
    text-align: left;
  }
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: 300;
    font-family: $base-font;
    line-height: 46px;
    @media #{$small-only} {
      font-size: 30px;
      line-height: 34px;
    }
  }
  .node--type-page {
    .group-left {
      @include grid-column(12);
    }
    .group-right {
      @include grid-column(12);
    }
  }
}