.view.view-certifications {
  .view-content {
    @include grid-row(nest);
    .views-row {
      margin-bottom: 10px;
      @include grid-column(3);
      @media #{$medium-only} {
        @include grid-column(4);
      }
      @media #{$small-only} {
        @include grid-column(12);
      }
    }
  }
  .slick__slide {
    .slide__content {
      margin: 10px;
      background-color:white;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
      min-height: 230px;
      .slide__media {
        padding: 10px 10px 10px 10px;
        text-align: center;
        vertical-align: middle;
        img {
          display: inline-block;
          width: 100px;
          height: 100px;
          @media #{$small-only} {
            width: 160px;
            height: 160px;
          }
        }
      }
      .slide__caption {
        padding:20px 10px 20px 10px;
        border-top: 1px solid #CCC;
        margin: 0;
        text-align: left;
        h2 {
          font-family: $base-font;
          font-size: 15px;
          line-height: 20px;
          font-style: normal;
          font-weight: 600;
          margin-top: 0;
          margin-bottom: 0;
          color: #000;
        }
        p {
          font-family: $base-font;
          font-size: 15px;
          line-height: 20px;
          font-style: normal;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 0;
          color: #666;
        }
      }
    }
  }
}