.node--type-work.node--view-mode-teaser {
  .field--name-node-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .field--name-field-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .field--name-body {
    p {
      margin-top: 0;
      margin-bottom: 0;
      color: #666666;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      line-height: 20px;
    }
  }

  &.ds-2row {
    height: inherit;
    .groups {
      @include clearfix;
      height: inherit;
      background-color: #FFFFFF;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .group-firstrow {

    }
    .group-secondrow {
      padding: 20px;
    }
  }
}


