.node-certification {
  &.node-teaser {
    min-height: 280px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    .field--name-field-certification-image {
      padding: 15px 10px 15px 10px;
      text-align: center;
      vertical-align: middle;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
      }
    }
    .field--name-node-title {
      margin: 0;
      h2 {
        margin-top: 0;
        margin-bottom: 6px;
        color: #000000;
        //font-family: $base-font;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
      }
    }
    .field--name-body {
      margin: 0;
      p {
        margin-top: 0;
        margin-bottom: 0;
        color: #666666;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
      }
    }
  }
  &.node-teaser.ds-2row {
    @include clearfix;
    height: inherit;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    .group-firstrow {
      border-bottom: 2px solid #f5f5f5;
    }
    .group-secondrow {
      padding: 20px;
    }
  }

  @at-root .view.view-certifications & {
    &.node-teaser {
      //margin: 10px;
      @at-root .path-work & {
        //margin: 10px;
      }
    }
  }
}