.node--type-testimonial.node--view-mode-teaser {
  .field--name-field-image {
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &.ds-2col,
  &.ds-2col-empty {
    .groups {
      @include clearfix;
      display: flex;
      flex-direction: row;
    }
    .group-left {
      flex: 1 0 0;
    }
    .group-right {
      flex: 2 0 0;
      padding: 0 20px 20px 20px;
    }
  }
}


