.node-testimonial.node-teaser {
  .field--name-field-image {
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  &.ds-2col-empty {
    @include clearfix;
    display: flex;
    flex-direction: row;
    .group-left {
      flex: 2 0 0;
      padding-right: 20px;
    }
    .group-right {
      flex: 5 0 0;
      @media #{$small-only} {
        flex: 6 0 0;
      }
    }
  }
}