.node-service.node-teaser {
  .field--name-node-title {
    margin-bottom: 10px;
  }
  .field--name-body {
    margin-bottom: 0;
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .field--name-field-icon {
    img {
      width: 100%;
      height: auto;
    }
  }

  // Display Suite 2 Column
  &.ds-2col,
  &.ds-2col-empty {
    @include clearfix;
    display: flex;
    flex-direction: row;
    .group-left {
      flex: 1 0 0;
    }
    .group-right {
      flex: 4 0 0;
      padding: 0 20px 20px 20px;
    }
  }
}
